@media screen and (min-width: 700px) and (max-width: 1200px)
{
    :root {
        --extra-large: 70px;
        --large: 40px;
        --medium: 20px;
        --small: 18px;
    }

    body {
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, auto);
        padding: 0 var(--extra-large);
        height: fit-content;
    }

    header {
        grid-area: 1 / 1 / 2 / 1;
    }

    #menu {
        background-color: rgb(255, 119, 0);
    }

    aside {
        width: 60%;
        padding: 0;
        max-width: 500px;
        margin-top: 0;
        grid-area: 2 / 1 / 3 / 1;
        justify-self: center;
        position: fixed;
    }

    #profile-image {
        width: 35%;
        border-radius: 70px;
    }

    main {
        width: 100%;
        align-items: center;
        grid-area: 3 / 1 / 4 / 1;
    }

    #about-button {
        display: none;
    }

    #main-center {
        width: fit-content;
        grid-area: 4 / 1 / 5 / 1;
        justify-self: center;
    }

    #main-center section {
        padding: 0;
    }

    #skills {
        display: flex;
    }

    section {
        width: 100%;
        align-items: center !important;
        padding: 0 50px;
        box-sizing: border-box;
    }

    section h1, section h2 {
        text-align: center !important;
    }

    #skills .flex-container {
        width: 50%;
    }

    footer {
        grid-area: 5 / 1 / 5 / 1;
    }
}

@media screen and (max-width: 1200px) {
    aside {
        position: static;
        width: 100%;
        background-color: #001148;
        top: 0;
        z-index: 10;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main, section, #main-center {
        margin-top: 20px;
    }

    h1 {
        white-space: preserve nowrap;
    }

    h3 {
        white-space: pre;
    }
}